# Installation of PySpark in google colab.

In [33]:
# install Java8
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
# download spark3.0.1
!wget -q http://apache.osuosl.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop3.2.tgz
# unzip it
!tar xf spark-3.0.1-bin-hadoop3.2.tgz
# install findspark 
!pip install -q findspark

# environmental variable of java and spark was set
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.1-bin-hadoop3.2"

import findspark
findspark.init()

**Spark Session was created**

In [36]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('HousePrice_Prediction').getOrCreate()

**All the necessary sparkML libraries required for this task was imported.**

In [37]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler, StringIndexer

from pyspark.ml.regression import LinearRegression
from pyspark.mllib.evaluation import RegressionMetrics

**Upload of the House price prediction dataset.**

In [38]:
from google.colab import files
uploaded = files.upload()

Saving data.csv to data (5).csv

In [64]:
dataset = spark.read.csv("data.csv", inferSchema = True, header = True)
dataset.show()

+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+--------------------+----------------+--------+-------+
|               date|    price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|sqft_above|sqft_basement|yr_built|yr_renovated|              street|            city|statezip|country|
+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+--------------------+----------------+--------+-------+
|2014-05-02 00:00:00| 313000.0|     3.0|      1.5|       1340|    7912|   1.5|         0|   0|        3|      1340|            0|    1955|        2005|18810 Densmore Ave N|       Shoreline|WA 98133|    USA|
|2014-05-02 00:00:00|2384000.0|     5.0|      2.5|       3650|    9050|   2.0|         0|   4|        5|      3370|          280|    1921|           0|     709 W Blaine St|         Seattle|WA 98119|    USA|
|2014-05-02 00:00:00| 342000.0|     3.0|      2.0|       1930|   11947|   1.0|         0|   0|        4|      1930|            0|    1966|           0|26206-26214 143rd...|            Kent|WA 98042|    USA|
|2014-05-02 00:00:00| 420000.0|     3.0|     2.25|       2000|    8030|   1.0|         0|   0|        4|      1000|         1000|    1963|           0|     857 170th Pl NE|        Bellevue|WA 98008|    USA|
|2014-05-02 00:00:00| 550000.0|     4.0|      2.5|       1940|   10500|   1.0|         0|   0|        4|      1140|          800|    1976|        1992|   9105 170th Ave NE|         Redmond|WA 98052|    USA|
|2014-05-02 00:00:00| 490000.0|     2.0|      1.0|        880|    6380|   1.0|         0|   0|        3|       880|            0|    1938|        1994|      522 NE 88th St|         Seattle|WA 98115|    USA|
|2014-05-02 00:00:00| 335000.0|     2.0|      2.0|       1350|    2560|   1.0|         0|   0|        3|      1350|            0|    1976|           0|   2616 174th Ave NE|         Redmond|WA 98052|    USA|
|2014-05-02 00:00:00| 482000.0|     4.0|      2.5|       2710|   35868|   2.0|         0|   0|        3|      2710|            0|    1989|           0|   23762 SE 253rd Pl|    Maple Valley|WA 98038|    USA|
|2014-05-02 00:00:00| 452500.0|     3.0|      2.5|       2430|   88426|   1.0|         0|   0|        4|      1570|          860|    1985|           0|46611-46625 SE 12...|      North Bend|WA 98045|    USA|
|2014-05-02 00:00:00| 640000.0|     4.0|      2.0|       1520|    6200|   1.5|         0|   0|        3|      1520|            0|    1945|        2010|    6811 55th Ave NE|         Seattle|WA 98115|    USA|
|2014-05-02 00:00:00| 463000.0|     3.0|     1.75|       1710|    7320|   1.0|         0|   0|        3|      1710|            0|    1948|        1994|  Burke-Gilman Trail|Lake Forest Park|WA 98155|    USA|
|2014-05-02 00:00:00|1400000.0|     4.0|      2.5|       2920|    4000|   1.5|         0|   0|        5|      1910|         1010|    1909|        1988|3838-4098 44th Av...|         Seattle|WA 98105|    USA|
|2014-05-02 00:00:00| 588500.0|     3.0|     1.75|       2330|   14892|   1.0|         0|   0|        3|      1970|          360|    1980|           0|    1833 220th Pl NE|       Sammamish|WA 98074|    USA|
|2014-05-02 00:00:00| 365000.0|     3.0|      1.0|       1090|    6435|   1.0|         0|   0|        4|      1090|            0|    1955|        2009| 2504 SW Portland Ct|         Seattle|WA 98106|    USA|
|2014-05-02 00:00:00|1200000.0|     5.0|     2.75|       2910|    9480|   1.5|         0|   0|        3|      2910|            0|    1939|        1969|    3534 46th Ave NE|         Seattle|WA 98105|    USA|
|2014-05-02 00:00:00| 242500.0|     3.0|      1.5|       1200|    9720|   1.0|         0|   0|        4|      1200|            0|    1965|           0|   14034 SE 201st St|            Kent|WA 98042|    USA|
|2014-05-02 00:00:00| 419000.0|     3.0|      1.5|       1570|    6700|   1.0|         0|   0|        4|      1570|            0|    1956|           0|     15424 SE 9th St|        Bellevue|WA 98007|    USA|
|2014-05-02 00:00:00| 367500.0|     4.0|      3.0|       3110|    7231|   2.0|         0|   0|        3|      3110|            0|    1997|           0|   11224 SE 306th Pl|          Auburn|WA 98092|    USA|
|2014-05-02 00:00:00| 257950.0|     3.0|     1.75|       1370|    5858|   1.0|         0|   0|        3|      1370|            0|    1987|        2000|     1605 S 245th Pl|      Des Moines|WA 98198|    USA|
|2014-05-02 00:00:00| 275000.0|     3.0|      1.5|       1180|   10277|   1.0|         0|   0|        3|      1180|            0|    1983|        2009|  12425 415th Ave SE|      North Bend|WA 98045|    USA|
+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+--------------------+----------------+--------+-------+
only showing top 20 rows

**Printing the schema of all the columns in the dataset.
Schema gives the description of the structure of the given data.**

In [65]:
dataset.printSchema()

root
 |-- date: string (nullable = true)
 |-- price: double (nullable = true)
 |-- bedrooms: double (nullable = true)
 |-- bathrooms: double (nullable = true)
 |-- sqft_living: integer (nullable = true)
 |-- sqft_lot: integer (nullable = true)
 |-- floors: double (nullable = true)
 |-- waterfront: integer (nullable = true)
 |-- view: integer (nullable = true)
 |-- condition: integer (nullable = true)
 |-- sqft_above: integer (nullable = true)
 |-- sqft_basement: integer (nullable = true)
 |-- yr_built: integer (nullable = true)
 |-- yr_renovated: integer (nullable = true)
 |-- street: string (nullable = true)
 |-- city: string (nullable = true)
 |-- statezip: string (nullable = true)
 |-- country: string (nullable = true)

In [66]:
dtypes_strings = dataset.select("city", "country", "street", "statezip", "date").distinct()

In [67]:
dtypes_strings.show()

+-------------+-------+--------------------+--------+-------------------+
|         city|country|              street|statezip|               date|
+-------------+-------+--------------------+--------+-------------------+
|     Bellevue|    USA|   3250 165th Ave SE|WA 98008|2014-05-06 00:00:00|
|Mercer Island|    USA|     8300 SE 82nd St|WA 98040|2014-05-06 00:00:00|
|      Seattle|    USA| 4602 Woodlawn Ave N|WA 98103|2014-05-07 00:00:00|
|       Renton|    USA|  16411 120th Ave SE|WA 98058|2014-05-12 00:00:00|
|    Sammamish|    USA|   27747 SE 24th Way|WA 98075|2014-05-13 00:00:00|
|     Kirkland|    USA|   12033 NE 136th Pl|WA 98034|2014-05-13 00:00:00|
|      Seattle|    USA|     4417 47th Ave S|WA 98118|2014-05-15 00:00:00|
|      Seattle|    USA|     8309 36th Ave S|WA 98118|2014-05-19 00:00:00|
|  Federal Way|    USA|    1714 SW 354th Pl|WA 98023|2014-05-19 00:00:00|
|   Des Moines|    USA|    24807 10th Ave S|WA 98198|2014-05-21 00:00:00|
|      Seattle|    USA|     303 SW 108th St|WA 98146|2014-05-22 00:00:00|
|      Tukwila|    USA|14426-14598 42nd ...|WA 98168|2014-06-04 00:00:00|
|      Seattle|    USA|    6008 14th Ave NW|WA 98107|2014-06-09 00:00:00|
|      Seattle|    USA|    7344 50th Ave NE|WA 98115|2014-06-12 00:00:00|
|     Kirkland|    USA|  11721 106th Ave NE|WA 98034|2014-06-16 00:00:00|
|       Renton|    USA|     2515 NE 19th St|WA 98056|2014-06-19 00:00:00|
|    Shoreline|    USA|   18032 Burke Ave N|WA 98133|2014-06-25 00:00:00|
|      Seattle|    USA|     1901 25th Ave E|WA 98112|2014-07-01 00:00:00|
|      Seattle|    USA|    3505 W McGraw St|WA 98199|2014-07-03 00:00:00|
|      Seattle|    USA|       922 N 91st St|WA 98103|2014-07-08 00:00:00|
+-------------+-------+--------------------+--------+-------------------+
only showing top 20 rows

**Distingusing between categorical and numerical columns.**

In [68]:
categoricalColumns = [item[0] for item in dataset.dtypes if item[1].startswith('string')]
categoricalColumns

['date', 'street', 'city', 'statezip', 'country']

In [69]:
numericalColumnsInt = [item[0] for item in dataset.dtypes if item[1].startswith("int")]
numericalColumnsInt

['sqft_living',
 'sqft_lot',
 'waterfront',
 'view',
 'condition',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated']

In [70]:
numericalColumnsDouble = [item[0] for item in dataset.dtypes if item[1].startswith("double")]
numericalColumnsDouble

['price', 'bedrooms', 'bathrooms', 'floors']

**StringIndexer was imported to convert the columns having string dtypes to numerical values.**

In [71]:
indexer = StringIndexer(inputCols= ["date", "street", "city", "statezip", "country"], 
                        outputCols=["date_Index", "street_Index", "city_Index", "statezip_Index", "country_Index"]) 
indexed = indexer.fit(dataset).transform(dataset) 
indexed.show()

+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+--------------------+----------------+--------+-------+----------+------------+--------------+-------------+----------+
|               date|    price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|sqft_above|sqft_basement|yr_built|yr_renovated|              street|            city|statezip|country|city_Index|street_Index|statezip_Index|country_Index|date_Index|
+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+--------------------+----------------+--------+-------+----------+------------+--------------+-------------+----------+
|2014-05-02 00:00:00| 313000.0|     3.0|      1.5|       1340|    7912|   1.5|         0|   0|        3|      1340|            0|    1955|        2005|18810 Densmore Ave N|       Shoreline|WA 98133|    USA|      10.0|      1574.0|          14.0|          0.0|      44.0|
|2014-05-02 00:00:00|2384000.0|     5.0|      2.5|       3650|    9050|   2.0|         0|   4|        5|      3370|          280|    1921|           0|     709 W Blaine St|         Seattle|WA 98119|    USA|       0.0|      3912.0|          48.0|          0.0|      44.0|
|2014-05-02 00:00:00| 342000.0|     3.0|      2.0|       1930|   11947|   1.0|         0|   0|        4|      1930|            0|    1966|           0|26206-26214 143rd...|            Kent|WA 98042|    USA|       6.0|      2330.0|           6.0|          0.0|      44.0|
|2014-05-02 00:00:00| 420000.0|     3.0|     2.25|       2000|    8030|   1.0|         0|   0|        4|      1000|         1000|    1963|           0|     857 170th Pl NE|        Bellevue|WA 98008|    USA|       2.0|      4269.0|          45.0|          0.0|      44.0|
|2014-05-02 00:00:00| 550000.0|     4.0|      2.5|       1940|   10500|   1.0|         0|   0|        4|      1140|          800|    1976|        1992|   9105 170th Ave NE|         Redmond|WA 98052|    USA|       3.0|      4357.0|           1.0|          0.0|      44.0|
|2014-05-02 00:00:00| 490000.0|     2.0|      1.0|        880|    6380|   1.0|         0|   0|        3|       880|            0|    1938|        1994|      522 NE 88th St|         Seattle|WA 98115|    USA|       0.0|      3544.0|           3.0|          0.0|      44.0|
|2014-05-02 00:00:00| 335000.0|     2.0|      2.0|       1350|    2560|   1.0|         0|   0|        3|      1350|            0|    1976|           0|   2616 174th Ave NE|         Redmond|WA 98052|    USA|       3.0|      2325.0|           1.0|          0.0|      44.0|
|2014-05-02 00:00:00| 482000.0|     4.0|      2.5|       2710|   35868|   2.0|         0|   0|        3|      2710|            0|    1989|           0|   23762 SE 253rd Pl|    Maple Valley|WA 98038|    USA|      12.0|      2081.0|          10.0|          0.0|      44.0|
|2014-05-02 00:00:00| 452500.0|     3.0|      2.5|       2430|   88426|   1.0|         0|   0|        4|      1570|          860|    1985|           0|46611-46625 SE 12...|      North Bend|WA 98045|    USA|      18.0|      3395.0|          46.0|          0.0|      44.0|
|2014-05-02 00:00:00| 640000.0|     4.0|      2.0|       1520|    6200|   1.5|         0|   0|        3|      1520|            0|    1945|        2010|    6811 55th Ave NE|         Seattle|WA 98115|    USA|       0.0|      3860.0|           3.0|          0.0|      44.0|
|2014-05-02 00:00:00| 463000.0|     3.0|     1.75|       1710|    7320|   1.0|         0|   0|        3|      1710|            0|    1948|        1994|  Burke-Gilman Trail|Lake Forest Park|WA 98155|    USA|      21.0|        70.0|          18.0|          0.0|      44.0|
|2014-05-02 00:00:00|1400000.0|     4.0|      2.5|       2920|    4000|   1.5|         0|   0|        5|      1910|         1010|    1909|        1988|3838-4098 44th Av...|         Seattle|WA 98105|    USA|       0.0|      3054.0|          47.0|          0.0|      44.0|
|2014-05-02 00:00:00| 588500.0|     3.0|     1.75|       2330|   14892|   1.0|         0|   0|        3|      1970|          360|    1980|           0|    1833 220th Pl NE|       Sammamish|WA 98074|    USA|       8.0|      1525.0|           9.0|          0.0|      44.0|
|2014-05-02 00:00:00| 365000.0|     3.0|      1.0|       1090|    6435|   1.0|         0|   0|        4|      1090|            0|    1955|        2009| 2504 SW Portland Ct|         Seattle|WA 98106|    USA|       0.0|      2217.0|          34.0|          0.0|      44.0|
|2014-05-02 00:00:00|1200000.0|     5.0|     2.75|       2910|    9480|   1.5|         0|   0|        3|      2910|            0|    1939|        1969|    3534 46th Ave NE|         Seattle|WA 98105|    USA|       0.0|      2935.0|          47.0|          0.0|      44.0|
|2014-05-02 00:00:00| 242500.0|     3.0|      1.5|       1200|    9720|   1.0|         0|   0|        4|      1200|            0|    1965|           0|   14034 SE 201st St|            Kent|WA 98042|    USA|       6.0|       865.0|           6.0|          0.0|      44.0|
|2014-05-02 00:00:00| 419000.0|     3.0|      1.5|       1570|    6700|   1.0|         0|   0|        4|      1570|            0|    1956|           0|     15424 SE 9th St|        Bellevue|WA 98007|    USA|       2.0|      1115.0|          54.0|          0.0|      44.0|
|2014-05-02 00:00:00| 367500.0|     4.0|      3.0|       3110|    7231|   2.0|         0|   0|        3|      3110|            0|    1997|           0|   11224 SE 306th Pl|          Auburn|WA 98092|    USA|       7.0|       345.0|          22.0|          0.0|      44.0|
|2014-05-02 00:00:00| 257950.0|     3.0|     1.75|       1370|    5858|   1.0|         0|   0|        3|      1370|            0|    1987|        2000|     1605 S 245th Pl|      Des Moines|WA 98198|    USA|      17.0|      1202.0|          41.0|          0.0|      44.0|
|2014-05-02 00:00:00| 275000.0|     3.0|      1.5|       1180|   10277|   1.0|         0|   0|        3|      1180|            0|    1983|        2009|  12425 415th Ave SE|      North Bend|WA 98045|    USA|      18.0|       590.0|          46.0|          0.0|      44.0|
+-------------------+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+--------------------+----------------+--------+-------+----------+------------+--------------+-------------+----------+
only showing top 20 rows

**Unrequired columns were deleted.**

In [72]:
dataset_new = indexed.drop(*['date', 'street', 'city', 'statezip', 'country','country_Index', 'date_Index', 'statezip_Index'])

**Final Dataset.**

In [73]:
dataset_new.show()

+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+----------+------------+
|    price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|sqft_above|sqft_basement|yr_built|yr_renovated|city_Index|street_Index|
+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+----------+------------+
| 313000.0|     3.0|      1.5|       1340|    7912|   1.5|         0|   0|        3|      1340|            0|    1955|        2005|      10.0|      1574.0|
|2384000.0|     5.0|      2.5|       3650|    9050|   2.0|         0|   4|        5|      3370|          280|    1921|           0|       0.0|      3912.0|
| 342000.0|     3.0|      2.0|       1930|   11947|   1.0|         0|   0|        4|      1930|            0|    1966|           0|       6.0|      2330.0|
| 420000.0|     3.0|     2.25|       2000|    8030|   1.0|         0|   0|        4|      1000|         1000|    1963|           0|       2.0|      4269.0|
| 550000.0|     4.0|      2.5|       1940|   10500|   1.0|         0|   0|        4|      1140|          800|    1976|        1992|       3.0|      4357.0|
| 490000.0|     2.0|      1.0|        880|    6380|   1.0|         0|   0|        3|       880|            0|    1938|        1994|       0.0|      3544.0|
| 335000.0|     2.0|      2.0|       1350|    2560|   1.0|         0|   0|        3|      1350|            0|    1976|           0|       3.0|      2325.0|
| 482000.0|     4.0|      2.5|       2710|   35868|   2.0|         0|   0|        3|      2710|            0|    1989|           0|      12.0|      2081.0|
| 452500.0|     3.0|      2.5|       2430|   88426|   1.0|         0|   0|        4|      1570|          860|    1985|           0|      18.0|      3395.0|
| 640000.0|     4.0|      2.0|       1520|    6200|   1.5|         0|   0|        3|      1520|            0|    1945|        2010|       0.0|      3860.0|
| 463000.0|     3.0|     1.75|       1710|    7320|   1.0|         0|   0|        3|      1710|            0|    1948|        1994|      21.0|        70.0|
|1400000.0|     4.0|      2.5|       2920|    4000|   1.5|         0|   0|        5|      1910|         1010|    1909|        1988|       0.0|      3054.0|
| 588500.0|     3.0|     1.75|       2330|   14892|   1.0|         0|   0|        3|      1970|          360|    1980|           0|       8.0|      1525.0|
| 365000.0|     3.0|      1.0|       1090|    6435|   1.0|         0|   0|        4|      1090|            0|    1955|        2009|       0.0|      2217.0|
|1200000.0|     5.0|     2.75|       2910|    9480|   1.5|         0|   0|        3|      2910|            0|    1939|        1969|       0.0|      2935.0|
| 242500.0|     3.0|      1.5|       1200|    9720|   1.0|         0|   0|        4|      1200|            0|    1965|           0|       6.0|       865.0|
| 419000.0|     3.0|      1.5|       1570|    6700|   1.0|         0|   0|        4|      1570|            0|    1956|           0|       2.0|      1115.0|
| 367500.0|     4.0|      3.0|       3110|    7231|   2.0|         0|   0|        3|      3110|            0|    1997|           0|       7.0|       345.0|
| 257950.0|     3.0|     1.75|       1370|    5858|   1.0|         0|   0|        3|      1370|            0|    1987|        2000|      17.0|      1202.0|
| 275000.0|     3.0|      1.5|       1180|   10277|   1.0|         0|   0|        3|      1180|            0|    1983|        2009|      18.0|       590.0|
+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+----------+------------+
only showing top 20 rows

In [74]:
dataset_new.describe().show()

+-------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+
|summary|            price|          bedrooms|         bathrooms|       sqft_living|          sqft_lot|            floors|          waterfront|               view|         condition|        sqft_above|     sqft_basement|         yr_built|     yr_renovated|       city_Index|      street_Index|
+-------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+
|  count|             4600|              4600|              4600|              4600|              4600|              4600|                4600|               4600|              4600|              4600|              4600|             4600|             4600|             4600|              4600|
|   mean|551962.9884732141|3.4008695652173913|2.1608152173913044|2139.3469565217392|14852.516086956522|1.5120652173913043|0.007173913043478261|0.24065217391304347|3.4517391304347824|1827.2654347826087|312.08152173913044|1970.786304347826|808.6082608695652|6.216521739130434|2225.6754347826086|
| stddev|563834.7025471414|0.9088481155258177|0.7837810746502791| 963.2069157608655| 35884.43614480964|0.5382883772969884| 0.08440377189474309| 0.7784047172125206| 0.677229767559275| 862.1689769625966| 464.1372280666068|29.73184839009962|979.4145364007456|7.809628040994539|1326.0768977606604|
|    min|              0.0|               0.0|               0.0|               370|               638|               1.0|                   0|                  0|                 1|               370|                 0|             1900|                0|              0.0|               0.0|
|    max|          2.659E7|               9.0|               8.0|             13540|           1074218|               3.5|                   1|                  4|                 5|              9410|              4820|             2014|             2014|             43.0|            4524.0|
+-------+-----------------+------------------+------------------+------------------+------------------+------------------+--------------------+-------------------+------------------+------------------+------------------+-----------------+-----------------+-----------------+------------------+

**VectorAssembler is a feature transformer that merges multiple columns into a vector column.**

In [75]:
ignore = ['price']
assembler = VectorAssembler(
    inputCols=[x for x in dataset_new.columns if x not in ignore],
    outputCol='features')

**Final output dataset containing the features column which is a vector column.**

In [76]:
output = assembler.transform(dataset_new)
output.show()

+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+----------+------------+--------------------+
|    price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|condition|sqft_above|sqft_basement|yr_built|yr_renovated|city_Index|street_Index|            features|
+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+----------+------------+--------------------+
| 313000.0|     3.0|      1.5|       1340|    7912|   1.5|         0|   0|        3|      1340|            0|    1955|        2005|      10.0|      1574.0|[3.0,1.5,1340.0,7...|
|2384000.0|     5.0|      2.5|       3650|    9050|   2.0|         0|   4|        5|      3370|          280|    1921|           0|       0.0|      3912.0|[5.0,2.5,3650.0,9...|
| 342000.0|     3.0|      2.0|       1930|   11947|   1.0|         0|   0|        4|      1930|            0|    1966|           0|       6.0|      2330.0|[3.0,2.0,1930.0,1...|
| 420000.0|     3.0|     2.25|       2000|    8030|   1.0|         0|   0|        4|      1000|         1000|    1963|           0|       2.0|      4269.0|[3.0,2.25,2000.0,...|
| 550000.0|     4.0|      2.5|       1940|   10500|   1.0|         0|   0|        4|      1140|          800|    1976|        1992|       3.0|      4357.0|[4.0,2.5,1940.0,1...|
| 490000.0|     2.0|      1.0|        880|    6380|   1.0|         0|   0|        3|       880|            0|    1938|        1994|       0.0|      3544.0|[2.0,1.0,880.0,63...|
| 335000.0|     2.0|      2.0|       1350|    2560|   1.0|         0|   0|        3|      1350|            0|    1976|           0|       3.0|      2325.0|[2.0,2.0,1350.0,2...|
| 482000.0|     4.0|      2.5|       2710|   35868|   2.0|         0|   0|        3|      2710|            0|    1989|           0|      12.0|      2081.0|[4.0,2.5,2710.0,3...|
| 452500.0|     3.0|      2.5|       2430|   88426|   1.0|         0|   0|        4|      1570|          860|    1985|           0|      18.0|      3395.0|[3.0,2.5,2430.0,8...|
| 640000.0|     4.0|      2.0|       1520|    6200|   1.5|         0|   0|        3|      1520|            0|    1945|        2010|       0.0|      3860.0|[4.0,2.0,1520.0,6...|
| 463000.0|     3.0|     1.75|       1710|    7320|   1.0|         0|   0|        3|      1710|            0|    1948|        1994|      21.0|        70.0|[3.0,1.75,1710.0,...|
|1400000.0|     4.0|      2.5|       2920|    4000|   1.5|         0|   0|        5|      1910|         1010|    1909|        1988|       0.0|      3054.0|[4.0,2.5,2920.0,4...|
| 588500.0|     3.0|     1.75|       2330|   14892|   1.0|         0|   0|        3|      1970|          360|    1980|           0|       8.0|      1525.0|[3.0,1.75,2330.0,...|
| 365000.0|     3.0|      1.0|       1090|    6435|   1.0|         0|   0|        4|      1090|            0|    1955|        2009|       0.0|      2217.0|[3.0,1.0,1090.0,6...|
|1200000.0|     5.0|     2.75|       2910|    9480|   1.5|         0|   0|        3|      2910|            0|    1939|        1969|       0.0|      2935.0|[5.0,2.75,2910.0,...|
| 242500.0|     3.0|      1.5|       1200|    9720|   1.0|         0|   0|        4|      1200|            0|    1965|           0|       6.0|       865.0|[3.0,1.5,1200.0,9...|
| 419000.0|     3.0|      1.5|       1570|    6700|   1.0|         0|   0|        4|      1570|            0|    1956|           0|       2.0|      1115.0|[3.0,1.5,1570.0,6...|
| 367500.0|     4.0|      3.0|       3110|    7231|   2.0|         0|   0|        3|      3110|            0|    1997|           0|       7.0|       345.0|[4.0,3.0,3110.0,7...|
| 257950.0|     3.0|     1.75|       1370|    5858|   1.0|         0|   0|        3|      1370|            0|    1987|        2000|      17.0|      1202.0|[3.0,1.75,1370.0,...|
| 275000.0|     3.0|      1.5|       1180|   10277|   1.0|         0|   0|        3|      1180|            0|    1983|        2009|      18.0|       590.0|[3.0,1.5,1180.0,1...|
+---------+--------+---------+-----------+--------+------+----------+----+---------+----------+-------------+--------+------------+----------+------------+--------------------+
only showing top 20 rows

In [77]:
output.select("features").show()

+--------------------+
|            features|
+--------------------+
|[3.0,1.5,1340.0,7...|
|[5.0,2.5,3650.0,9...|
|[3.0,2.0,1930.0,1...|
|[3.0,2.25,2000.0,...|
|[4.0,2.5,1940.0,1...|
|[2.0,1.0,880.0,63...|
|[2.0,2.0,1350.0,2...|
|[4.0,2.5,2710.0,3...|
|[3.0,2.5,2430.0,8...|
|[4.0,2.0,1520.0,6...|
|[3.0,1.75,1710.0,...|
|[4.0,2.5,2920.0,4...|
|[3.0,1.75,2330.0,...|
|[3.0,1.0,1090.0,6...|
|[5.0,2.75,2910.0,...|
|[3.0,1.5,1200.0,9...|
|[3.0,1.5,1570.0,6...|
|[4.0,3.0,3110.0,7...|
|[3.0,1.75,1370.0,...|
|[3.0,1.5,1180.0,1...|
+--------------------+
only showing top 20 rows

In [78]:
output.columns

['price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'city_Index',
 'street_Index',
 'features']

In [79]:
finalized_data = output.select("features", "price")

**Finalized_data contains both the features and label.**

In [80]:
finalized_data.show()

+--------------------+---------+
|            features|    price|
+--------------------+---------+
|[3.0,1.5,1340.0,7...| 313000.0|
|[5.0,2.5,3650.0,9...|2384000.0|
|[3.0,2.0,1930.0,1...| 342000.0|
|[3.0,2.25,2000.0,...| 420000.0|
|[4.0,2.5,1940.0,1...| 550000.0|
|[2.0,1.0,880.0,63...| 490000.0|
|[2.0,2.0,1350.0,2...| 335000.0|
|[4.0,2.5,2710.0,3...| 482000.0|
|[3.0,2.5,2430.0,8...| 452500.0|
|[4.0,2.0,1520.0,6...| 640000.0|
|[3.0,1.75,1710.0,...| 463000.0|
|[4.0,2.5,2920.0,4...|1400000.0|
|[3.0,1.75,2330.0,...| 588500.0|
|[3.0,1.0,1090.0,6...| 365000.0|
|[5.0,2.75,2910.0,...|1200000.0|
|[3.0,1.5,1200.0,9...| 242500.0|
|[3.0,1.5,1570.0,6...| 419000.0|
|[4.0,3.0,3110.0,7...| 367500.0|
|[3.0,1.75,1370.0,...| 257950.0|
|[3.0,1.5,1180.0,1...| 275000.0|
+--------------------+---------+
only showing top 20 rows

In [81]:
finalized_data.columns

['features', 'price']

**Splitting of finalized_data dataset into train and test data in 3:1 ratio.**

In [82]:
train_data, test_data = finalized_data.randomSplit([0.75, 0.25], seed = 42)

In [93]:
print("This is the Train dataset:- ")
print(train_data.show())

print("This is the Test dataset:- ")
print(test_data.show())

This is the Train dataset:-
+--------------------+---------+
|            features|    price|
+--------------------+---------+
|[0.0,0.0,3064.0,4...|1095000.0|
|[0.0,0.0,4810.0,2...|1295648.0|
|[1.0,0.75,380.0,1...| 245000.0|
|[1.0,0.75,420.0,6...| 280000.0|
|[1.0,0.75,430.0,5...|  80000.0|
|[1.0,0.75,820.0,5...| 527550.0|
|[1.0,1.0,550.0,12...| 353000.0|
|[1.0,1.0,590.0,83...| 202000.0|
|[1.0,1.0,620.0,82...| 148000.0|
|[1.0,1.0,690.0,19...| 167500.0|
|[1.0,1.0,700.0,25...| 295000.0|
|[1.0,1.0,700.0,51...| 350000.0|
|[1.0,1.0,720.0,48...| 190000.0|
|[1.0,1.0,720.0,51...| 335000.0|
|[1.0,1.0,730.0,19...| 321500.0|
|[1.0,1.0,730.0,30...| 395000.0|
|[1.0,1.0,750.0,40...| 250000.0|
|[1.0,1.0,800.0,16...| 250000.0|
|[1.0,1.0,810.0,24...| 235000.0|
|[1.0,1.0,820.0,10...| 194000.0|
+--------------------+---------+
only showing top 20 rows

None
This is the Test dataset:-
+--------------------+--------+
|            features|   price|
+--------------------+--------+
|[1.0,0.75,370.0,1...|276000.0|
|[1.0,0.75,560.0,1...|299000.0|
|[1.0,0.75,930.0,2...|190000.0|
|[1.0,0.75,1170.0,...|275000.0|
|[1.0,1.0,650.0,15...|129000.0|
|[1.0,1.0,720.0,60...|     0.0|
|[1.0,1.0,790.0,13...|135000.0|
|[1.0,1.0,960.0,26...|332000.0|
|[1.0,1.0,960.0,40...|420850.0|
|[1.0,1.0,1140.0,6...|540000.0|
|[1.0,1.5,810.0,32...|285000.0|
|[1.0,1.5,1010.0,5...|410000.0|
|[2.0,0.75,840.0,4...|528000.0|
|[2.0,0.75,1392.0,...|350000.0|
|[2.0,0.75,1440.0,...|562100.0|
|[2.0,1.0,520.0,22...|160000.0|
|[2.0,1.0,590.0,10...|398000.0|
|[2.0,1.0,630.0,42...|148000.0|
|[2.0,1.0,670.0,63...|279000.0|
|[2.0,1.0,700.0,48...|260000.0|
+--------------------+--------+
only showing top 20 rows

None

**Linear regression algorithm was used for prediction.**

In [83]:
regressor = LinearRegression(featuresCol='features', labelCol='price')
regressor = regressor.fit(train_data)

In [84]:
regressor.coefficients

DenseVector([-54738.387, 80462.4082, 1016.692, -0.4755, -5674.3828, 174183.5185, 52338.6537, 34444.9211, -756.2056, -822.3781, -1939.0446, 8.4479, -5408.329, -0.2255])

In [85]:
regressor.intercept

3766039.7226613276

**Evaluation of the test_data using our linear regression model.**

In [86]:
pred_results = regressor.evaluate(test_data)

**Price prediction.**

In [87]:
pred_results.predictions.show()

+--------------------+--------+-------------------+
|            features|   price|         prediction|
+--------------------+--------+-------------------+
|[1.0,0.75,370.0,1...|276000.0|  304437.9962327592|
|[1.0,0.75,560.0,1...|299000.0|  59921.95356263919|
|[1.0,0.75,930.0,2...|190000.0|  349893.0134237702|
|[1.0,0.75,1170.0,...|275000.0|  265939.7557767574|
|[1.0,1.0,650.0,15...|129000.0| 239143.50742289657|
|[1.0,1.0,720.0,60...|     0.0| 329107.89825000754|
|[1.0,1.0,790.0,13...|135000.0| 339977.58689325117|
|[1.0,1.0,960.0,26...|332000.0| 441524.80853667296|
|[1.0,1.0,960.0,40...|420850.0| 265977.18040653225|
|[1.0,1.0,1140.0,6...|540000.0| 473126.82464962313|
|[1.0,1.5,810.0,32...|285000.0|  314652.2213279018|
|[1.0,1.5,1010.0,5...|410000.0| 500193.77066104487|
|[2.0,0.75,840.0,4...|528000.0|  534516.5518133589|
|[2.0,0.75,1392.0,...|350000.0|  228522.0436636093|
|[2.0,0.75,1440.0,...|562100.0|   476736.824840344|
|[2.0,1.0,520.0,22...|160000.0| 11640.465541466605|
|[2.0,1.0,590.0,10...|398000.0|-26875.669972614385|
|[2.0,1.0,630.0,42...|148000.0| 270387.93674536655|
|[2.0,1.0,670.0,63...|279000.0|  308472.6050048452|
|[2.0,1.0,700.0,48...|260000.0| 304621.14905059617|
+--------------------+--------+-------------------+
only showing top 20 rows

**Root mean squared error, mean absolute error and R-squared error.**

In [88]:
print("RMSE = %s" % pred_results.rootMeanSquaredError)
print("MAE = ", pred_results.meanAbsoluteError)
print("R-squared = %s" % pred_results.r2)

RMSE = 264588.83654159546
MAE =  157266.05119796735
R-squared = 0.5066408188315306